* {
    box-sizing: border-box;
   
}

body {
   background-color:  gray;
    margin: 0;
    padding: 15px;
}
.userCard {
    background-color: white;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: -20px;
    text-align: center;
    
  }
.userImg {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 1px  white;
    object-fit: cover;

}
.cardFooter {
    display: flex;
    flex-direction: column;
    
}